<div *ngIf="item">
  <button (click)="goBack()">go back</button>
  <button (click)="add()">Add to portfolio</button>
  <h2>{{ item.name | uppercase }} Details</h2>
  <!--<div><span>id: </span>{{item.id}}</div>-->
  <div>
    <label>id: {{ item.id }}
      <!--<input [(ngModel)]="item.name" placeholder="name"/>-->
    </label>
  </div>
  <div>
    <label>source: {{ item.source }}
      <!--<input [(ngModel)]="item.name" placeholder="name"/>-->
    </label>
  </div>
  <div>
    <label>instance type: {{ item.inst_type }}
      <!--<input [(ngModel)]="item.name" placeholder="name"/>-->
    </label>
  </div>

  <div *ngIf="graphData">
    <jqxChart #myChart
        [width]="850" [height]="500"
        [title]="'Candlestick Chart'"
        [description]="''"
        [enableAnimations]="false" [enableCrosshairs]="true" [animationDuration]="1500"
        [source]="dataAdapter" [xAxis]="xAxis"
        [seriesGroups]="seriesGroups" [colorScheme]="'scheme17'"  [padding]="padding" >
    </jqxChart>
  </div>

</div>
