<div *ngIf="portfolio">
  <h2>{{ portfolio.name }} Details</h2>
  <div>
    <label>Portfolio name:
      <input [(ngModel)]="portfolio.name" placeholder="name"/>
    </label>
    <button (click)="save()">save</button>
  </div>


  <div>
    <h3>Your items:</h3>

  <ul class="items">
    <li *ngFor="let item of portfolio.items">
      <a routerLink="/detail/{{item.id}}">
        <span class="badge">{{item.id}}</span> {{item.name}}
      </a>
      <button class="delete" title="delete item"
      (click)="delete(item)">x</button>
    </li>
  </ul>

</div>
