<div *ngIf="portfolio">
  <h2>{{ portfolio.name }} Details</h2>
  <!--<div><span>id: </span>{{item.id}}</div>-->
  <div>
    <label>Portfolio name:
      <input [(ngModel)]="portfolio.name" placeholder="name"/>
    </label>
    <button (click)="save()">save</button>
  </div>
  <!--<button (click)="goBack()">go back</button>-->


  <div>
    <h3>Your items:</h3>
    <!--<a *ngFor="let item of portfolio.items" class="itemList"
        routerLink="/detail/{{item.id}}">
      <div class="module2">
        <h4>{{item.name}}</h4>
      </div>
    </a>
    <button class="delete" title="delete item"
    (click)="delete(item)">x</button>
  </div>-->

  <ul class="items">
    <li *ngFor="let item of portfolio.items">
      <a routerLink="/detail/{{item.id}}">
        <span class="badge">{{item.id}}</span> {{item.name}}
      </a>
      <button class="delete" title="delete item"
      (click)="delete(item)">x</button>
    </li>
  </ul>

</div>
